{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block container %}

    <div class="row">
        <div class="col-md-12">
            <h1>Mon pagner</h1>
        </div>
    </div>

    <div class="row">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Produit</th>
                    <th style="width:10%">Prix</th>
                    <th style="width:8%">Quantité</th>
                    <th style="width:22%" class="text-center">Sous-Total</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                {% for element in panier.elements %}
                    <tr>
                        <td data-th="Produit">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs"><img src="http://placehold.co/100x100" alt="..." class="img-responsive"/></div>
                                <div class="col-sm-9">
                                    <h4 ><a href="{{ path('app_produits_show', {'id' : element.produit.id}) }}" >{{ element.produit.nom}}</a></h4>
                                    <p>{{ element.produit.description|slice(0, 80) }}...</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{ element.produit.prix }}€</td>
                        <td data-th="Quantite">
                            <input type="number" name="quantity" class="form-control text-center" value="{{ element.quantity }}" />
                        </td>
                        <td data-th="Sous-Total" class="text-center">{{ element.sousTotal }}€</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-info btn-sm refresh-quantity"><i class="fa fa-refresh"></i></button>

                            <form action="{{ path('app_panier_element_supprimer') }}" method="post">
                                <input type="hidden" name="produit_id" value="{{ element.produit.id }}" />
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                        <tr>
                            <td colspan="5">Votre panier est vide</td>
                        </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="{{ path('app_produits_index') }}" class="btn btn-warning" title="Continuer le shopping"><i class="fa fa-angle-left"></i> Continuer le shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total {{ panier.total }}€</strong></td>
                    <td>
                        {{ form_start(form, {'action' : path('app_panier_vider')}) }}
                        {{ form_errors(form) }}
                            <button class="btn btn-danger btn-block" type="submit">Vider le panier <i class="fa fa-angle-right"></i></button>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </td>
                </tr>
            </tfoot>
        </table>
    <div>

{% endblock %}
