{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <h1>Liste des produits</h1>
        </div>
    </div>
    <div class="row">
        {% for produit in produits %}
            <div class="col-md-4">
            	<figure class="card card-product">
            		<div class="img-wrap">
                        <img src="https://placehold.co/350x222" alt="placeholder">
                    </div>
            		<figcaption class="info-wrap">
            				<h4 class="title"><a href="{{ path('app_produits_show', {'id' : produit.id}) }}" >{{ produit.nom}}</a></h4>
            				<p class="desc">{{ produit.description|slice(0, 70) }}...</p><!-- rating-wrap.// -->
            		</figcaption>
            		<div class="bottom-wrap">
            			<a href="{{ path('app_produits_show', {id : produit.id }) }}" class="btn btn-sm btn-primary float-right" title="Voir la fiche">
                            Voir la fiche
                        </a>
            			<div class="price-wrap h5">
            				<span class="price-new">{{ produit.prix }}€</span>
            			</div>
            		</div>
            	</figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}
