{% extends 'base.html.twig' %}

{% block title %}List of products{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <h1>List of products</h1>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
            	<figure class="card card-product">
            		<div class="img-wrap">
                        <img src="https://placehold.co/350x222" alt="placeholder">
                    </div>
            		<figcaption class="info-wrap">
            				<h4 class="title"><a href="{{ path('app_products_show', {'slug' : product.slug}) }}" >{{ product.name}}</a></h4>
            				<p class="desc">{{ product.description|slice(0, 70) }}...</p><!-- rating-wrap.// -->
            		</figcaption>
            		<div class="bottom-wrap">
            			<a href="{{ path('app_products_show', {slug : product.slug }) }}" class="btn btn-sm btn-primary float-right" title="Show product">
                            Show product
                        </a>
            			<div class="price-wrap h5">
            				<span class="price-new">{{ product.price }}€</span>
            			</div>
            		</div>
            	</figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}
